.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.navbar img {
  height: 75px;           
  width: auto;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap : 60px;
    font-size: 18px;
    cursor: pointer;
}
.nav-connect{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg , #DA7C25 0.36%, #B923E1);
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-connect:hover{
    transform: scale(1.05);
}
